* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue-color : rgb(59, 59, 224);
    --black-color : #000;
    --gray-color : #8b8686;
    --wite-color : #ffffff;
    --bg-color : rgb(75, 72, 72);
    --para-tint: #e4e4e4;
    --light-blue : rgb(91, 91, 226);
}

.container {
    width: 700px;
    height: 100vh;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}

.all {
    padding: 5px;
}

h2 {
    font-size: 1.2rem;
    color: var(--blue-color);
    font-weight: bold;
    padding-top: 5px;
}
h3 {
    font-size: 1.1rem;
    color: var(--black-color);
    padding-top: 2px;
    padding-bottom: 2px;
}
p {
    font-size: 1rem;
    color: var(--gray-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.left {
    background-color: var(--bg-color);
    width: 40%;
    height: 100%;
}
.right {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    padding: 15px;
}
.profile-name {
    height: 20%;
    width: 100%;
    background-color: var(--blue-color);
    padding: 10px;
}
.center img {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.center h3{
   padding: 10px 50px 10px 50px;
   font-size: 18px;
   color: wheat;
}
.center span {
    padding: 10px 10px 10px 10px;
 }
.center span i {
   padding: 10px 10px 10px 10px;
}
a {
    color: var(--wite-color);
    text-decoration: none;
}

ul {
    padding: 15px;
}

.title {
    padding-top: 10px;
    padding-bottom: 10px;
}
.experiance {
    display: flex;
    justify-content: space-between;
}

.contect-container {
    padding: 20px;
    color: white;
}
.contect-container h3,
.contect-container p{
    color: white;
}

.skills {
    padding-top: 20px;
}
.skills p {
    padding-bottom: 10px;
    padding-top: 10px;
}
.skill-box .skill-bar {
    height: 5px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--para-tint);
}

.skill-bar .skill-1 {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-2 {
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-3 {
    position: relative;
    display: block;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-4 {
    position: relative;
    display: block;
    height: 100%;
    width: 85%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-5 {
    position: relative;
    display: block;
    height: 100%;
    width: 70%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-6 {
    position: relative;
    display: block;
    height: 100%;
    width: 95%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-7 {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-8 {
    position: relative;
    display: block;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-9 {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
.skill-bar .skill-10 {
    position: relative;
    display: block;
    height: 100%;
    width: 75%;
    border-radius: 6px;
    background-color: var(--light-blue);
}
